.text {
    text-align: center;
    font-weight: bold;
}

.str{
    font-weight: bold;
}

#text{
        text-decoration: underline;
}
span{
    text-decoration: underline;
}

.general{
    font-family: "Times New Roman", sans-serif;
    font-size: 14px;
    background-color: white;
    margin-top: auto;
    margin-left: 50px;
    font-weight: 700;
    height: auto;
}

.one{
    text-align: center;
    font-size: 20px;
    margin-top: 300px;
    line-height: 30px;
}

.two{
    margin-left: 50%;
    margin-top: 150px;
    font-size: 20px;
    line-height: 25px;
    white-space: nowrap;
}

.three{
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    font-size: 20px;
}

