*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 600px;
    background-color: #b3d4fc;
   }

.fencer{
    width: 280px;
    height: 280px;
    padding: 5px 5px;
    margin: -5px;
    display: inline-block;
    background-image: url("img/isolated-fencer-boy-sports-icon-260nw-1798453300 (1).jpg");

    transform: rotate(0deg) scale(1) translate(100px, 50px) skew(0deg);

    transition: background-color 8s ease-in-out, ease-in-out 4s, width 5s ease-out 2s;

}

.fencer_1{
    width: 280px;
    height: 280px;
    padding: 5px 5px;
    margin: -5px;
    display: inline-block;
    background-image: url("img/isolated-fencer-boy-sports-icon-260nw-1798453300 2.jpg");

    transform: rotate(0deg) scale(1) translate(100px, 50px) skew(0deg);

    transition:  background-color  8s ease-in-out, ease-in-out 4s, width 5s ease-out 2s;
}


